body {
    background-color: #000000;
}

.container-fluid {
    padding: 0px;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

header h1 {
    margin: 0px 0px 10px 0px;
}

header h2 {
    margin: 0px;
}

.middle {
    color: #ffffff;
    background-color: #444444;
    /*padding: 20px 0px 20px 0px;*/
    padding: 0px;
    height: 500px;
    width: 100%;
    position: relative;
}

footer {
    background-color: #000000;
    color: #5d5d5d;
    padding: 20px;
    width: 100%;
}

.nav-button {
    height: 100%;
    width: 3%;
    background-color: #000000;
    padding-top: 240px;
}

#slideshow {
    width: 94%;
    position: absolute;
    margin-left: 3%;
}

.slideshowImage {
    display: inline-block;
    width: 25%;
}

.slideshowImage > img {
    width: 100%;
    max-height: 250px;
    -webkit-animation-name: showSlideshowImage; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: showSlideshowImage;
    animation-duration: 2s;

}

.middle .button {
    background-color: transparent;
    border: none;
}

.modalImage {
    width: 100%;
}

.wordwrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.loading-text {
    padding-top:  240px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlideshowImage {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Standard syntax */
@keyframes showSlideshowImage {
    from { opacity: 0; }
    to { opacity: 1; }
}