body {
    background-color: #444444;
}

.container-fluid {
    padding: 0px;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

header h1 {
    margin: 0px 0px 10px 0px;
}

header h2 {
    margin: 0px;
}

.middle {
    color: #ffffff;
    /*padding: 20px 0px 20px 0px;*/
    padding: 0px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.slideshowImage {
    padding: 0px;
    display: inline-block;
}

/*.flickrImage > .title {*/
    /*padding: 0px;*/
    /*padding-right: 20px;*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*background: rgba(255, 255, 255, 0.75);*/
/*}*/

.slideshowImage > img {
    padding: 0px;
    width: 100px;

}

.search {
    /*margin-bottom: 20px;*/
}

.wordwrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}
