body {
    background-color: #000000;
}

.container-fluid {
    padding: 0px;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

header h1 {
    margin: 0px 0px 10px 0px;
}

header h2 {
    margin: 0px;
}

.middle {
    color: #ffffff;
    background-color: #444444;
    /*padding: 20px 0px 20px 0px;*/
    padding: 0px;
    height: 500px;
    width: 100%;
    position: relative;
}

.local-storage {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
}

.dropbox {
    padding: 0px;
    background-color: #444444;
    height: 148px;
    color: #ffffff;
    position: relative;
    line-height: 0em;
}

#drop-container .slideshowImage {
    display: inline-block;
    width: 10%;
    height: 37px;
    overflow: hidden;
    position: relative;
}

footer {
    background-color: #000000;
    color: #5d5d5d;
    padding: 20px;
    width: 100%;
}

.nav-button {
    height: 100%;
    width: 3%;
    background-color: #000000;
    padding-top: 240px;
}

#slideshow {
    width: 94%;
    position: absolute;
    margin-left: 3%;
    line-height: 0em;
}

#slideshow .slideshowImage {
    display: inline-block;
    width: 25%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.slideshowImage > img {
    width: 100%;
}

.fadeIn {
    -webkit-animation-name: showSlideshowImage; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: showSlideshowImage;
    animation-duration: 1s;
}

header .button {
    margin-left: 20px;
}

.middle .button {
    background-color: transparent;
    border: none;
}

.modalImage {
    width: 100%;
}

.wordwrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.loading-text {
    padding-top: 240px;
}

.drop-text {
    padding-top: 74px;
}

.no-padding {
    padding: 0px;
}

.list {
    padding-left: 20px;
}

.slideshowImageTitle {
    position: absolute;
    top: 0px;
    padding: 10px;
    line-height: normal;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slideshowImageTitle:hover {
    opacity: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlideshowImage {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Standard syntax */
@keyframes showSlideshowImage {
    from { opacity: 0; }
    to { opacity: 1; }
}